/* HEADER */
.line{
    left: 0;
}


/* HERO BANNER */
.hero-banner{
    background-color: #D5D3E1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
}

.hero-banner h1{
    width: 50%;
    text-align: center;
    z-index: 1;
    position: relative;
}

.hero-banner img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

/* SECTION ACCROCHE */
.section-accroche{
    margin-top: -150px;
    z-index: 2;
}

.section-accroche p{
    text-align: center;
    width: 90%;
}

/* SECTION ABOUT */
.section-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* SECTION PROJECTS */
.section-projects{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;
}
.slider{
    position: relative;
    width: 70%;
    height: 540px;
    display: flex;
    justify-content: center;
}
.slider .slide-projet{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 100px;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.slider .slide-projet.active-projet{
    clip-path: circle(150% at 0 50%);
    transition: 1s;
}

.img-projet-slide{
    margin-bottom: 30px;
    margin-top: -100px;
    width: 320px;
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.slide-photonics-bretagne{
    background-image: url(../img/mockup-plein-photonics-bretagne.webp);
}
.slide-portfolio{
    background-image: url(../img/mockup-plein-portfolio.webp);
}
.slide-halloween{
    background-image: url(../img/figurine-halloween.webp);
}

.navigation{
    cursor: pointer;
}

.projet-description{
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bouton-projet{
    display: flex;
    justify-content: end;
    margin-top: 80px;
}

@media screen and (max-width: 1200px){
    .bouton-centre{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1060px){
    .bouton-centre{
        margin-top: 150px;
    }
}
@media screen and (max-width: 1000px){
    .bouton-centre{
        margin-top: 300px;
    }
}
@media screen and (max-width: 900px){
    .bouton-centre{
        margin-top: 500px;
    }
}
@media screen and (max-width: 851px){
    .section-about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* SECTION PROJECTS */
    .slider .slide-projet{
        flex-direction: column;
    }

    .projet-description{
        padding: 0 0 0 0;
        gap: 0;
    }
    .bouton-projet{
        margin-top: 10px;
    }
    .projet-img-type{
        display: flex;
        flex-direction: column;
    }
    .img-projet-slide{
        width: 200px;
        height: 200px;
    }
    .navigation-slider{
        gap: 70px;
    }
    .bouton-centre{
        margin-top: 100px;
    }
}

@media screen and (max-width: 750px){
    .hero-banner{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .bouton-centre{
        margin-top: 200px;
    }
}

@media screen and (max-width: 415px){
    .bouton-centre{
        margin-top: 330px;
    }
    .img-projet-slide{
        width: 150px;
        height: 150px;
    }
}