/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 95%;
    margin-top: 30px;
    z-index: 4;
}
.img-logo{
    width: 200px;
}
#navbar{
    display: flex;
    gap: 70px;
    background-color: #f5f5f581;
    border: #FFFFFF 2px solid;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    position: relative;
}
.link-header{
    color: #9A9A9A;
    cursor: pointer;
}
.active{
    color: #7FB0BA;
}
.line{
    border-radius: 20px;
    background-color: white;
    position: absolute;
    width: 95px;
    height: 100%;
    z-index: -1;
    transition: .5s ease;
    top: 0;
}
#navbar a:nth-child(1):hover~.line{
    left: 0;
}
#navbar a:nth-child(2):hover~.line{
    left: 125px;
    width: 100px;
}
#navbar a:nth-child(3):hover~.line{
    left: 260px;
}
#navbar a:nth-child(4):hover~.line{
    left: 384px;
    width: 100px;
}

/* MENU HAMBURGER */
.menu-hamburger{
    display: none;
}
.button-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mobile-menu{
    margin-left: 0;
}
.navbar-mobile{
    display: none;
}


/* FOOTER */
footer{
    background: #D5D3E1;
    width: 100vw;
    margin-top: -150px;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.text-footer a{
    text-decoration: underline;
    color: #303030;
}
.footer-info a i{
    width: 25px;
    height: 25px;
}

/* SECTION AVANT-FOOTER */
.section-avant-footer{
    height: 80px;
    width: 100%;
}

/* BOUTONS */
.button{
    padding: 7px 25px 7px 25px;
    border-radius: 25px;
    color: #F5F5F5;
    text-align: center;
    max-width: max-content;
    transition: color 0.4s linear;
    position: relative;
}
.button::before{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 25px;
    transition: transform 0.5s;
    transform-origin: 0.5 0;
    transform: scaleX(1);
    position: absolute;
}
.button:hover::before{
    transform: scaleX(0);
}
.bouton-card::before{
    z-index: 0;
}
.bouton-card-texte{
    position: absolute;
    left: 25px;
}
.fleche-card{
    position: absolute;
    left: 25px;
    top: 6px;
}
.fleche{
    fill: #F5F5F5;
}

.button-blue:hover .fleche{
    fill: #7FB0BA;
}
/* Blue */
.button-blue{
    border: 1px solid #7FB0BA;
}
.button-blue::before{
    background-color: #7FB0BA;
}
.button-blue:hover{
    color: #7FB0BA;
}
/* Purple */
.button-purple{
    border: 1px solid #D5D3E1;
}
.button-purple::before{
    background-color: #D5D3E1;
}
.button-purple:hover{
    color: #D5D3E1;
}
/* Yellow */
.button-yellow{
    border: 1px solid #EABB72;
}
.button-yellow::before{
    background-color: #EABB72;
}
.button-yellow:hover{
    color: #EABB72;
}

/* SECTION ABOUT */
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-avatar-pc{
    width: 40%;
}
.about-description{
    width: 50%;
}
.bouttons{
    margin-top: 30px;
}

/* HERO BANNER SECONDARY */
.hero-banner-secondary{
    background-color: #D5D3E1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.hero-banner-secondary h1{
    margin-left: -400px;
}

.banner-img{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -300px;
}
.img-banner-propos{
    width: 28%;
    margin-top: -25px;
}
.img-banner-contact{
    width: 40%;
    margin-top: 25px;
}


.banner-portfolio{
    background-color: #D5D3E1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 0;
    gap: 100px;
}

.banner-portfolio h1{
    margin-top: -90px;
}

.banner-portfolio img{
    width: 40%;
}

.banner-centre h1{
    margin-left: 0 !important;
    text-align: center;
}
.banner-img-centre{
    justify-content: center;
    margin-top: -250px !important;
}
.banner-img-centre img{
    width: 50%;
}

/* SECTION SKILLS */
.section-skills{
    background-color: #E7E6EB;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}
.skills-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-img-choice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills-choice{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-skill{
    width: 70%;
    margin-bottom: 50px;
    display: none;
    animation: moving .5s ease;
    text-align: center;
}
.img-skill{
    width: 50%;
    display: none;
    animation: movingX .5s ease;
}
@keyframes movingX {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.img-skill.active-skill, .content-skill.active-skill, .container-card.active-projet{
    display: block;
}
.skills{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.skill{
    background-color: #D5D3E1;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
}
.active-skill .skill{
    background-color: #7FB0BA;
}
.active-skill .text-skills{
    font-weight: bold;
}
.text-skills{
    color: #5F5D5D;
    font-size: 19px;
}
.skills.active-skill .text-skills{
    color: #303030;
}

/* SECTION TOOLS */
.section-tools{
    background-color: #D5D3E1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    margin-top: -100px;
}

/* SECTION SOFTSKILLS */
.container-softskills{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.container-soft-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.softskill{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.softskill-name{
    font-size: 18px;
}

/* SECTION RS */
.section-rs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rs-name{
font-weight: 600;
    color: #303030;
}

/* SECTION CONTACT */
.section-contact{
    display: flex;
    align-items: center;
    padding: 20px 30px 20px 30px;
    gap: 50px;
    z-index: 1;
}
.section-contact img{
    width: 120px;
}

/* SECTION PROJETS */
.services{
    display: flex;
    gap: 10px;
    max-width: 413px;
    flex-wrap: wrap;
}
.encart-services{
    border-radius: 20px;
    color: #F5F5F5;
    text-align: center;
    padding: 10px 15px 10px 15px;
    width: fit-content;
    margin: 0;
    font-size: 0.9em;
}
.service-purple{
    background-color: #D5D3E1;
}
.service-pink{
    background-color: #D09AAD;
}
.service-blue{
    background-color: #7FB0BA;
}
.service-yellow{
    background-color: #EABB72;
}

@media screen and (max-width: 1000px){
    .skills-img-choice{
        width: 80%;
    }
    .banner-portfolio h1{
        margin-left: 50px;
    }
    .button-menu{
        flex-direction: column;
    }
    .img-logo{
        width: 150px;
    }
}
@media screen and (max-width: 851px){
    #navbar{
        display: none;
    }
    .menu-hamburger{
        display: block;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #F5F5F5;
        margin-left: -1000vw;
        transition: all 0.5s ease;
        gap: 50px;
        z-index: 3;
        position: fixed;
    }
    .navbar-mobile.mobile-menu{
        margin-left: 0;
    }
    .active{
        background-color: white;
        padding: 10px 30px 10px 30px;
        border-radius: 30px;
    }
    .button-menu{
        flex-direction: row;
    }

    .banner-img{
        justify-content: center;
    }
    .banner-portfolio{
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 0;
        gap: 10px;
    }
    .banner-portfolio h1{
        margin-top: 50px;
    }
    .banner-portfolio img{
        width: 50%;
    }
    .banner-img-centre img{
        width: 60%;
        margin-top: 100px !important;
    }    

    .about{
        flex-direction: column;
    }
    .img-avatar-pc{
        width: 50%;
    }
    .about-description{
        width: 70%;
        text-align: center;
    }
    .bouttons{
        justify-content: center;
    }

    .skills-img-choice{
        flex-direction: column;
    }
    .skills-choice{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-tools{
        flex-wrap: wrap;
    }

    /* SECTION CONTACT */
    .section-contact{
        gap: 15px;
        flex-direction: column;
    }
    .section-contact p{
        text-align: center;
    }

    .hero-banner-secondary{
        padding-top: 100px;
    }
    .hero-banner-secondary h1{
        margin-left: 0;
    }
    
    .banner-img{
        margin-top: -150px;
    }
}

@media screen and (max-width: 500px){
    .softskill-name{
        font-size: 15px;
    }
    .text-skills{
        font-size: 16px;
    }
    .button-menu{
        flex-direction: column;
        align-items: end;
    }
    header{
        align-items: start;
    }
}