/* HEADER */
.line{
    left: 384px;
    width: 100px;
}

/* SECTION FORMULAIRE */
.section-formulaire{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: -80px;
}
.contact-description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-formulaire p{
    text-align: center;
    width: 70%;
}
.container-form{
    background-color: white;
    padding: 70px 0 70px 0;
    border-radius: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 80px;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form p{
    text-align: start;
}
.bouton-contact{
    z-index: 1;
}

footer{
    margin-top: -40px;
    padding-top: 10px;
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E7E6EB;
    border-radius: 10px;
    padding: 30px;
    gap: 20px;
    width: 40%;
    margin-right: -100px;
    color: #5f5d5f;
}

.container-contact p{
    text-align: start;
    width: 100%;
}
.rs-name{
    color: #5f5d5f;
}
.container-rs{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 851px){
    .container-form{
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px 0 40px;
    }
    .container-contact{
        gap: 20px;
        width: 90%;
        margin-right: 0;
        margin-bottom: -100px;
    }

    .section-formulaire p{
        text-align: center;
        width: 90%;
    }

    ul{
        padding: 0;
    }

    footer{
        margin-top: 100px;
    }

}