/* HEADER */
.line{
    left: 260px;
}

/* SECTION DETAILS PROJET */
.section-details{
    width: 40%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.type-details{
    width: 70%;
    text-align: end;
}
.type-name{
    font-weight: bold;
    color: #9a9a9a;
    font-size: 18px;
}

/* SECTION ABOUT */
.section-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.about-description{
    width: 100% !important;
}

/* SECTION PROCESSUS */
.section-processus{
    width: 100vw;
    background-color: #E7E6EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px 0;
}
#nav-processus{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 10px;
}
#nav-processus a{
    text-align: center;
    width: 100%;
}
.link-processus.active-processus{
    color: #7FB0BA;
}
.link-processus{
    color: #303030;
    cursor: pointer;
    font-weight: bold;
    color: #9a9a9a;
}

.container-info-processus{
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}
.container-info-processus.active-processus{
    display: flex;
}
.texte-processus{
    width: 50%;
}
.container-info-processus img{
    border-radius: 30px;
    width: 50%;
}

/* SECTION HARDSKILLS */
.section-hardskills{
    width: 50%;
}
.section-hardskills .container-vertical{
    align-items: flex-start;
}


@media screen and (max-width: 851px){
    .section-details{
        width: 80%;
    }
    .section-about{
        align-items: center;
        width: 80%;
    }
    .container-info-processus{
        flex-direction: column;
        gap: 20px;
    }
    .texte-processus{
        width: 80%;
        text-align: center;
    }
    .container-info-processus img{
        width: 60%;
    }

    .section-hardskills{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    #nav-processus{
        flex-wrap: wrap;
    }
    .container-info-processus{
        flex-direction: column;
        gap: 20px;
    }
    .texte-processus{
        width: 80%;
        text-align: center;
    }
    .container-info-processus img{
        width: 60%;
    }

    .section-hardskills{
        width: 80%;
    }
}

.container-purple{
    width: 100vw;
    background-color: #E7E6EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 90px;
}

.container-fit{
    width: 70%;
}
