/* HEADER */
.line{
    left: 125px;
    width: 100px;
}


/* SECTION PARCOURS */
.double-accordion{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}
.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.accordion .container-parcours{
    position: relative;
    width: 100%;
}
.accordion .container-parcours .label{
    position: relative;
    padding: 10px 30px 10px 10px;
    margin: 0;
    cursor: pointer;
    color: #303030;
    font-size: 18px;
    font-weight: bold;
}
.accordion .container-parcours .label::after{
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .container-parcours.active-parcours .label::after{
    content: '-';
}
.accordion .container-parcours.active-parcours .label{
    background-color: #E7E6EB;
    color: #7FB0BA;
    border-bottom: 1px solid #D5D3E1;
}
.accordion .container-parcours .content-parcours{
    position: relative;
    background-color: #E7E6EB;
    height: 0;
    overflow: hidden;
    overflow: hidden;
    overflow-y: auto;
}
.accordion .container-parcours.active-parcours .content-parcours{
    height: 100%;
    padding: 10px;
    margin-top: -10px;
    z-index: -1;
}
.accordion .container-parcours .content-parcours li{
    list-style: disc;
}

/* SECTION LANGUES */
.langue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    width: 100%;

}
.langue-name{
    font-weight: bold;
    color: #9a9a9a;
    font-size: 18px;
}

.icon-langue{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 700px){
    .double-accordion{
        flex-direction: column;
        align-items: center;
    }
    .accordion{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .section-langues{
        width: 90%;
    }
    .langue{
        gap: 60px;
    }
    .langue-name{
        font-size: 15px;
    }

    .accordion .container-parcours .label{
        font-size: 15px;
    }
}